body{
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    font-family: 'Bebas Neue', sans-serif;
}
.container{
    margin-top: 3%;
    font-family: 'Bebas Neue', sans-serif;

}
