body{
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    font-family: 'Bebas Neue', sans-serif;
}
.container{
    margin-top: 3%;
    font-family: 'Bebas Neue', sans-serif;
}

.sziv{
    animation: sziv 2s linear infinite alternate;
}

@keyframes sziv{
    0% {transform: scaleX(1);}
    50% {transform: scaleX(-1);}
    100% {transform: scaleX(1);}
}

.gob{
    height: 30px;
}
.gob:hover{
    animation: gob 2s linear infinite;
}

@keyframes gob{
    0% {transform: rotate(0deg);}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}

.kepalairas{
    background-color: green;
    box-shadow: 1px 1px 1px 1px inset rgb(22, 184, 49);
}

.halalomon-vagyok{
    height: 700px;
}

.dropdown-item:hover{
    background-color: forestgreen;
    border-radius: 10%;
    color: white;
    transition: 1s;
}

.card{
    margin: 1%;
}

.takony{
    animation: skew 2s linear infinite;
}

@keyframes skew{
    0% {transform: skewX(10deg);}
    50% {transform: skewX(0deg);}
    100% {transform: skewX(10deg);}
}

.krepper:hover{
    background-image: url(img/bg.jpg);
    background-position: center;
}

.krepper{
    background-image: url(img/zöd.png);
    transition: background-image 1s ease-out;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #158f3a;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .anatomiakartya{
    width: 80%;
  }
  .btn:active{
    background-color: #000000;
  }

  .gradient {
    background: linear-gradient(277deg, #0db88c, #085541, #be5917);
    background-size: 600% 600%;

    -webkit-animation: nezdmaszines 10s ease infinite;
    -moz-animation: nezdmaszines 10s ease infinite;
    -o-animation: nezdmaszines 10s ease infinite;
    animation: nezdmaszines 10s ease infinite;
}

@-webkit-keyframes nezdmaszines {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes nezdmaszines {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes nezdmaszines {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes nezdmaszines {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.offcanvas-body{
    overflow-x: hidden;
    overflow-y: hidden;
}